body {
    min-block-size: 100dvh;
    block-size: auto;
    padding: 15px;
}

h1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

textarea {
    resize: vertical;
    inline-size: 90%;
    max-inline-size: 550px;
    font-size: 20px;
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-surface-container);
    padding: 15px;
    border-radius: 5px;
    line-height: 1.6;
    border: 1px solid var(--md-sys-color-outline);
}

label {
    display: block;
    font-size: 20px;
    margin: 15px;
    color: var(--md-sys-color-primary);
    text-align: start;
}

button.secondary>span {
    display: flex;
    gap: 10px;
    align-items: center;
}

dialog {
    background-color: var(--md-sys-color-background);
    border-radius: 20px;
    border: 1px solid var(--md-sys-color-surface-container);
    padding: 50px 20px;
}

dialog p {
    border: none;
    background-color: var(--md-sys-color-background);
}

dialog h2 {
    color: var(--md-sys-color-primary);
}

dialog .close {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 20px;
    border-radius: 50%;
    padding: 10px;
    aspect-ratio: 1/1;
    block-size: 40px;
    inline-size: 40px;
}

.translation span {
    color: var(--md-sys-color-primary);
}

.translation {
    block-size: 0;
    animation: opaque 0.3s ease forwards;
}

@keyframes opaque {
    to {
        block-size: 100px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    button.secondary:hover img.animate {
        animation: rotate 0.9s ease forwards;
    }

    @keyframes rotate {
        0% {
            rotate: 0;
        }

        35% {
            rotate: -180deg;
        }

        100% {
            rotate: 0;
        }
    }
}